@use "src/variables.scss" as *;

.cartDiv {
  visibility: hidden;
  background-color: white;
  position: absolute;
  z-index: 50;
  left: 50%;
  right: 50%;
  top: 80px;
  transform: translateX(-50%);
  width: 95%;
  min-height: 250px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  display: grid;
  max-width: 380px;
  @include screen-size(large) {
    right: -5%;
    top: 60px;
    left: unset;
    transform: unset;
  }

  .empty-card-p {
    text-align: center;
    font-weight: bold;
  }

  h4 {
    height: fit-content;
    border-bottom: 1px solid rgba(100, 100, 111, 0.2);
    padding: 1.5rem;
  }

  img {
    width: 50px;
    height: 50px;
    border-radius: 4px;
  }

  svg {
    fill: #c3cad9;
  }

  button:hover svg {
    fill: rgb(232, 0, 0);
  }

  .productContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1.2em;
  }

  .productDetails {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    font-weight: 400;
    padding: 0;
  }
  .price {
    color: $Dark-grayish-blue;
    margin-right: 0.4em;
  }
}

.active {
  visibility: visible;
}

.container::-webkit-scrollbar {
  width: 5px;
}

.container::-webkit-scrollbar-thumb {
  background-color: $Grayish-blue;
  border-radius: 8px;
}

.container::-webkit-scrollbar-track {
  margin-block: 0.8rem;
  background: inherit;
}
